/* All Common CSS Start  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

/* All Common CSS End */
/* Header Part  Start  */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.nav-link {
  color: #ddd;
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.nav-link:hover {
  color: #ddd;
}

.socialPart a {
  margin: 0 8px;
  color: #ddd;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.socialPart a i {
  margin-right: 8px;
}

/* Header Part CSS End */

/* Banner Part  Start  */
#bannerPart {
  padding-top: 340px;
  padding-bottom: 100px;
  background: url(../images/banner\ 2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner h3 {
  font-size: 27px;
  font-weight: 400;
  color: #fff;
  font-family: "Oswald", sans-serif;
  line-height: 40px;
}

.banner h1 {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  font-family: "Oswald", sans-serif;
  line-height: 90px;
  position: relative;
}

.banner h1::after {
  position: absolute;
  height: 4px;
  width: 90px;
  background: #fff;
  top: 67px;
  right: 26px;
  content: "";
}

.banner p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: "Oswald", sans-serif;
  width: 521px;
  line-height: 24px;
  padding-bottom: 50px;
}

.bannerbtn a {
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  font-family: "Oswald", sans-serif;
  padding: 15px 25px;
  background: #fff;
  transition: 0.5s;
  border-radius: 3px;
}

.bannerSocialPart {
  padding-top: 160px;
}

.bannerSocial {
  padding: 10px;
  border-radius: 25px;
  display: inline-block;
}

.bannerSocial a {
  font-size: 35px;
  color: #d9d9d9;
  margin: 10px;
}
/* Banner Part  End */
/* About Part  Start  */
#aboutPart {
  background: #121212;
  padding-top: 35px;
  padding-bottom: 80px;
}
.about h3 {
  font-size: 38px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  color: #fff;
  width: 518px;
  line-height: 56px;
  position: relative;
}

.about h3::after {
  position: absolute;
  height: 3px;
  width: 120px;
  background: #ff4655;
  bottom: 11px;
  left: 195px;
  content: "";
}

.aboutImage {
  position: relative;
  padding: 65px 0 50px;
}

.aboutImage::after {
  position: absolute;
  height: 7px;
  width: 163px;
  background: #ff4655;
  top: 58px;
  left: 0px;
  content: "";
}

.aboutImage::before {
  position: absolute;
  width: 7px;
  height: 163px;
  background: #ff4655;
  top: 58px;
  left: -7px;
  content: "";
}
.aboutPoint h3 {
  font-size: 27px;
  font-weight: 600;
  line-height: 40px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  padding: 170px 0 0 0;
}

.aboutPoint h6 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
}

.aboutPoint i {
  font-size: 16px;
  color: #ff4655;
  margin-right: 10px;
}

.aboutPoint p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 22px;
  font-family: "Oswald", sans-serif;
  padding: 20px 0 30px 0;
}

.aboutBtn a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: "Oswald", sans-serif;
  padding: 15px 25px;
  background: #212121;
  display: inline-block;
  border-radius: 3px;
}

.aboutBtn i {
  font-size: 13px;
  color: #fff;
}
/* About Part  End */
/* Counter Part  Start  */
.counterItem {
  padding: 30px 90px;
  background: #212121;
  border-radius: 0 50px;
  transition: 0.5s;
}

.counterItem:hover {
  transform: scale(1.1);
  background: #333333;
}

.counterItem h3 {
  font-size: 58px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
}

.counterItem i {
  font-size: 12px;
  color: #ff4655;
}

.counterItem p {
  font-size: 18px;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
}
/* Counter Part  End */
/* Popular Part  Start  */
#popularPart {
  background: #191919;
  padding: 115px 0 90px 0;
}

.popularHeading h3 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  /* letter-spacing: 2px; */
  line-height: 45px;
  text-align: right;
  position: relative;
  top: 0;
  right: 0;
}

.popularHeading h3::after {
  position: absolute;
  height: 3px;
  width: 105px;
  background: #ff4655;
  right: 140px;
  bottom: 0;
  content: "";
}
.witcherImage {
  padding-top: 174px;
}
.witcherImage img {
  transition: 0.5s;
}
.witcherImage img:hover {
  transform: scale(1.1);
}
.valorentImage img {
  transition: 0.5s;
}
.valorentImage img:hover {
  transform: scale(1.1);
}
.popularButton {
  position: relative;
}
.popularButton1 {
  position: absolute;
  right: -20px;
  bottom: 50px;
  font-size: 40px;
  color: #fff;
}
.popularButton2 {
  position: absolute;
  right: -20px;
  bottom: 0;
  font-size: 40px;
  color: #fff;
}

/* Popular Part  End */
/* Live Streaming Part  Start  */
#liveStremingPart {
  background: #121212;
  padding: 90px 0;
}
.liveHeading h3 {
  font-size: 38px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  line-height: 56px;
  letter-spacing: 1.5px;
  color: #fff;
  position: relative;
}
.liveHeading h3::after {
  position: absolute;
  background: #ff4655;
  height: 3px;
  width: 120px;
  bottom: 10px;
  left: 150px;
  content: "";
}
.liveImageHolder {
  display: flex;
  align-items: center;
}
.liveImage img {
  padding-top: 80px;
  transition: 0.5s;
  transform: scale(0.95);
}
.liveImage img:hover {
  transform: scale(1.04);
}
.liveMatchHeading h3 {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  padding: 60px 0;
}
.teamImg {
  /* height: 100px; */
  clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
  position: relative;
  background: #212121;
}

.teamImg h4 {
  position: absolute;
  font-size: 32px;
  font-weight: 500;
  top: 40px;
  bottom: 40px;
  left: 220px;
  right: 60px;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
}
.teamImgTwo {
  /* height: 100px; */
  clip-path: polygon(2% 0, 100% 0%, 100% 100%, 9% 100%);
  position: relative;
  background: #212121;
}
.teamImgTwo img {
  padding-left: 320px;
}
.teamImgTwo h4 {
  position: absolute;
  font-size: 32px;
  font-weight: 500;
  top: 40px;
  bottom: 40px;
  left: 60px;
  right: 220px;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
}
.matchTime h5 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 30px 80px;
}
.timeM {
  display: flex;
}
.timeM2 {
  display: flex;
  padding-top: 60px;
}
/* Live Streaming Part  End */
/*Top Games Part  Start  */
#topGamesPart {
  background: #191919;
  padding: 90px 0;
}
.topGamesText h5 {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  line-height: 45px;
  text-align: right;
  position: relative;
  top: 0;
  right: 0;
  padding-bottom: 50px;
  font-family: "Barlow Condensed", sans-serif;
}
.topGamesText h5::after {
  position: absolute;
  height: 3px;
  width: 105px;
  background: #ff4655;
  right: 120px;
  bottom: 60px;
  content: "";
}
.salesItemD img {
  width: 100%;
}
.salesItemD h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 20px;
}
.salesItemD h4 {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  font-family: "Oswald", sans-serif;
}
.priceTag {
  display: flex;
  align-items: center;
}
.priceTag h4 {
  background: #ff4655;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding: 5px 4px;
  font-family: "Oswald", sans-serif;
}

.priceTag h5 {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  font-family: "Oswald", sans-serif;
  padding: 25px 10px;
  text-decoration: line-through;
}
.priceTag h6 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  padding: 25px 10px;
}
.salesItemD {
  transition: 0.5s;
}
.salesItemD:hover {
  transform: scale(1.05);
}
#catalogPart {
  background: #191919;
  padding-top: 65px;
  padding-bottom: 65px;
}
.headingH h4 {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  padding-bottom: 30px;
}
.catalogBg {
  display: flex;
  background: #212121;
  padding: 45px;
}

.catalogLeft h3 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #ff4655;
  
  
}
.catalogLeft h4 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  padding-top: 15px;
  line-height: 46px;
  text-transform: uppercase;
}
.catalogLeft p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #666666;
  padding-top: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding-bottom: 37px;
}

.catalogBtn a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  background: #121212;
  color: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 3px;
  transition: .9s;
}
.catalogBtn a:hover{
  background: #ff465f;
  transform: scale(1.1);
}
/*Top Games Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
