/* All Common CSS Start  */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a,
a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

/* All Common CSS End */
/* Header Part  Start  */
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.nav-link {
    color: #ddd;
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald",
        sans-serif;
}

.nav-link:hover {
    color: #ddd;
}

.socialPart a {
    margin: 0 8px;
    color: #ddd;
    font-family: "Oswald",
        sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.socialPart a i {
    margin-right: 8px;
}

/* Header Part CSS End */

/* Banner Part  Start  */
#bannerPart {
    padding-top: 340px;
    padding-bottom: 100px;
    background: url(../images/banner\ 2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner h3 {
    font-size: 27px;
    font-weight: 400;
    color: #FFF;
    font-family: "Oswald", sans-serif;
    line-height: 40px;
}

.banner h1 {
    font-size: 60px;
    font-weight: 600;
    color: #FFF;
    font-family: "Oswald", sans-serif;
    line-height: 90px;
    position: relative;
}

.banner h1::after {
    position: absolute;
    height: 4px;
    width: 90px;
    background: #fff;
    top: 67px;
    right: 26px;
    content: "";
}

.banner p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: "Oswald", sans-serif;
    width: 521px;
    line-height: 24px;
    padding-bottom: 50px;
}

.bannerbtn a {
    font-size: 16px;
    font-weight: 400;
    color: #121212;
    font-family: "Oswald", sans-serif;
    padding: 15px 25px;
    background: #fff;
    transition: .5s;
    border-radius: 3px;
}

.bannerSocialPart {
    padding-top: 160px;
}

.bannerSocial {
    padding: 10px;
    border-radius: 25px;
    display: inline-block;   
}

.bannerSocial a {
    font-size: 35px;
    color: #D9D9D9;
    margin: 10px;

}
/* Banner Part  End */
/* About Part  Start  */
    #aboutPart{
        background: #121212;
        padding-top: 35px;
        padding-bottom: 80px;
    }
    .about h3 {
    font-size: 38px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    color: #fff;
    width: 518px;
    line-height: 56px;
    position: relative;
}

.about h3::after {
    position: absolute;
    height: 3px;
    width: 120px;
    background: #FF4655;
    bottom: 11px;
    left: 195px;
    content: "";
}

.aboutImage {
    position: relative;
    padding: 65px 0 50px;
}

.aboutImage::after {
    position: absolute;
    height: 7px;
    width: 163px;
    background: #FF4655;
    top: 58px;
    left: 0px;
    content: "";
}

.aboutImage::before {
    position: absolute;
    width: 7px;
    height: 163px;
    background: #FF4655;
    top: 58px;
    left: -7px;
    content: "";
}
.aboutPoint h3 {
    font-size: 27px;
    font-weight: 600;
    line-height: 40px;
    color: #fff;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.5px;
    padding: 170px 0 0 0;
}

.aboutPoint h6 {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
}

.aboutPoint i {
    font-size: 16px;
    color: #FF4655;
    margin-right: 10px;
}

.aboutPoint p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 22px;
    font-family: "Oswald", sans-serif;
    padding: 20px 0 30px 0;
}

.aboutBtn a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: "Oswald", sans-serif;
    padding: 15px 25px;
    background: #212121;
    display: inline-block;
    border-radius: 3px;
}

.aboutBtn i {
    font-size: 13px;
    color: #fff;
}


/* About Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
/* Banner Part  Start  */
/* Banner Part  End */